$break-small: 600px;
$break-small-v2: 767px;
$break-medium: 960px;
$break-medium-v2: 1023px;
$break-large: 1280px;

$white-color: #ffffff;
$black-color: #000000;
$red-color: #DF3A57;
$blue-color: #5359F5;
$background-color: #8540F5;
$background-color-form: #F2F2F7;
$border-color: #DCE0E9;
$error-color: #C30404;
