@import "../../styles/style-utilities";

.home-page {
  margin-top: 30px;
  &__btn {
    margin-top: 100px;
  }
}

.request-list {
  padding: 0 6px;
  &__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    border-bottom: 2px solid #E0CFFC;
    padding-bottom: 10px;
  }
}

.request-item {
  display: grid;
  grid-template-columns: 1fr 75px;
  grid-column-gap: 18px;
  align-items: center;
  justify-items: center;
  border: 2px solid #D1D1D6;
  border-radius: 4px;
  margin-top: 24px;
  &__content {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-column-gap: 15px;
    align-items: center;
    justify-items: center;
    width: 100%;
    p {
      font-size: 12px;
      line-height: 21px;
      color: #000000;
      text-transform: uppercase;
      border-right: 2px solid #D1D1D6;
      height: 30px;
      padding: 10px 10px 0 5px;
    }
  }

  img {
    border-left: 2px solid #D1D1D6;
    height: 40px;
    padding-left: 10px;
  }
}

.terms-other-lang-example {
  &__lang {
    font-size: 12px;
    line-height: 14px;
    color: #8540F5;
  }
}

.add-term {
  margin-top: 30px;
  &__form {
    display: flex;
    flex-direction: column;
    .form-input-wrapper {
      display: grid;
      grid-template-columns: 130px 1fr;
      grid-column-gap: 21px;
      align-items: center;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin: 24px 0;
    }
    &__textarea {
      .form-input-wrapper {
        .form-input {
          &__input {
            background: $white-color;
          }
        }
      }
    }
  }
}

@media (min-width: $break-small) {
  .request-list {
    max-width: 360px;
  }
  .add-term {
    &__inner {
      max-width: 360px;
    }
  }
}

@media (min-width: $break-medium) {
  .request-list {
    max-width: 600px;
  }

  .add-term {
    &__inner {
      max-width: 600px;
    }
  }
}

@media (min-width: $break-large) {
  .request-list {
    max-width: 720px;
  }
  .add-term {
    &__inner {
      max-width: 720px;
    }
  }
}