@import "../../styles/style-utilities";

.home-page {
  margin-top: 30px;
  &__btn {
    margin-top: 100px;
  }
}

.request-list {
  &__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    border-bottom: 2px solid #E0CFFC;
    padding-bottom: 10px;
  }
}

.request-item {
  display: grid;
  grid-template-columns: 85px 1fr 75px;
  grid-column-gap: 18px;
  align-items: center;
  justify-items: center;
  border: 2px solid #D1D1D6;
  border-radius: 4px;
  margin-top: 24px;
  p {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    border-right: 2px solid #D1D1D6;
    height: 30px;
    padding: 10px 20px 0 10px;
  }
  img {
    border-left: 2px solid #D1D1D6;
    height: 40px;
    padding-left: 13px;
  }
}

.terms-other-lang-example {
  &__lang {
    font-size: 12px;
    line-height: 14px;
    color: #8540F5;
  }
}

@media (min-width: $break-small) {
  .request-list {
    max-width: 360px;
  }
}

@media (min-width: $break-medium) {
  .request-list {
    max-width: 600px;
  }
}

@media (min-width: $break-large) {
  .request-list {
    max-width: 720px;
  }
}