@import "../../styles/style-utilities";

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  label {
    font-size: 18px;
    line-height: 21px;
    color: $black-color;
    padding: 7px 3px;
  }
}
.form-input {
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  &--error {
    border: 1px solid $error-color;
  }
  &__input {
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    background-color: $background-color-form;
    border: 1px solid $border-color;
    box-shadow: 0 1px 3px 1px rgba(160, 161, 188, 0.15);
    border-radius: 4px;
    &::placeholder {
      color: #94a4ba;
      font-size: 18px;
      line-height: 27px;
    }
  }
  &__textarea {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 7px;
    font-size: 14px;
    resize: none;
    line-height: 1.1;
  }
  &__error {
    color: $error-color;
    font-weight: 400;
    padding: 5px 3px;
    font-size: 13px;
  }
  &__send-button {
    background-color: $background-color;
    width: 110px;
    height: 36px;
    position: absolute;
    right: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
}

